<h1>Add Contact</h1>
<form action="/contact_page" method="post">
  <label for="city">Enter city</label>
  <input id="city" name="city" value="">
  <label for="state">Enter state</label>
  <input id="state" name="state" value="">

  <button type="submit">Add Address</button>
