
<h1>Add Contact</h1>
<form action="/view_contacts" method="post">
  <label for="first">Enter your first name</label>
  <input id="first" name="first" value="">
  <label for="last">Enter your Last Name</label>
  <input id="last" name="last" value="">
  <label for="job">Please enter job title</label>
  <input id="job" name="job" value="">
  <label for="company">Please enter company name</label>
  <input id="company" name="company" value="">

  <button type="submit">Add Contact</button>

<h1>Add Address</h1>
<label for="city">Enter your first name</label>
<input id="city" name="city" value="">
<label for="state">Enter your Last Name</label>
<input id="state" name="state" value="">


<button type="submit">Add Contact</button>
</form>
